.carousel-control-next-icon:after {
    content: '>';
    font-size: 35px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 35px;
    color: black;
}

.carousel-burgers div {
    height: 40rem;
}

.carousel-burgers div button {
    background-color: #ff1516;
    color: white;
    font-weight: 700;
    border-radius: 0;
}

.carousel-burgers div h2 {
    color: var(--main-color);
}

.carousel-burgers div p {
    font-size: calc(0.6rem + 0.7vw);
    color: var(--main-color);

}

.carousel-burgers div img {
    /* TODO: Apply Box Shadow To Bottom */
    box-shadow: none;
}

.choose_wrapper h1 {
    color: var(--main-color);

}

.choose_wrapper p {
    color: var(--main-color);
    font-family: '';
}