.navbar-link {
    color: #42200b;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0.8rem 0.2rem;

}

#callUs {
    font-family: inherit;
    font-weight: 500;
}


.navbar-link:hover {
    color: white;
}

/* 
.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
} */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.material-symbols-outlined {
    font-size: 2rem;
    color: black;
}

@media screen and (max-width: 576px) {
    .navbar-link {
        border-bottom: 1px dashed #42200b;
    }
}