/* K2D Font*/
/* @import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500;800&display=swap'); */

/* Alfa Slab Font */
/* For Burger Week Text */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Lora */
/* For price */
/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap'); */

/* Signika Negative */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap');

:root {
    box-sizing: border-box;
    --main-color: #491a02;
    --my-secondary-color: #42200b;
    --my-gray-color: #383838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header {
    background: url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;

}

/* Fonts */

.siginika {
    font-family: 'Signika Negative', sans-serif;
}

.alfa-slab {
    font-family: 'Alfa Slab One', cursive;
}

.my-gray {
    color: var(--my-gray-color);
}







/* .k2d {
    font-family: 'K2D', sans-serif;
} */

/* .lora {
    font-family: 'Lora', serif;
} */

/* .hoverable-img {
    cursor: pointer;
    transition: transform .2s ease-in-out, filter .3s ease-in-out;
    transition-delay: .1s;
}

.burgers img {
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
}

@media (hover: hover) and (pointer: fine) {
    .hoverable-img:hover {
        transform: scale(1.05);
        filter: brightness(80%);
        -webkit-filter: brightness(80%);
    }

    #burger-one:hover>#burger-two {
        transform: scale(3);
    }
} */