/* K2D Font*/
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500;800&display=swap');

/* Alfa Slab Font*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/*Lora*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

:root {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

header {
    background-color: #ffc219;
}