.carousel-indicators {
    position: static !important;
    justify-content: flex-start !important;
    margin: 20px 0 0 0 !important;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: gray !important;
}

.carousel-indicators li.active {
    background-color: yellow !important;
}

.carousel-text div {
    height: 11rem;
}

@media screen and (min-width: 576px) {
    .upcoming-events {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
}